@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap");
html {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
