<!DOCTYPE html> {% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Frontend</title>
    <base href="/" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href='{% static "favicon.ico" %}' rel="icon" type="image/x-icon" />
    <link
      href='{% static "client/styles.41bc7f5cad13ec1b5991" %}'
      rel="stylesheet"
    />
  </head>
  <body>
    <app-root></app-root>
    <script
      defer=""
      src='{% static "client/runtime.3090f696987ebcfa375a.js" %}'
      type="text/javascript"
    ></script>
    <script
      defer=""
      src='{% static "client/polyfills.a652d742b92d048269ea.js" %}'
      type="text/javascript"
    ></script>
    <script
      defer=""
      src='{% static "client/main.0669af2688ddf723b03e.js" %}'
      type="text/javascript"
    ></script>
  </body>
</html>
