<div class="min-h-screen min-w-full justify-center items-center flex flex-col">
  <section
    class="
      flex flex-col
      gap-2
      items-center
      justify-center
      h-52
      w-52
      lg:h-80 lg:w-80
      rounded-full
      bg-gray-800
      shadow-xl
      transform
      duration-200
      hover:scale-105 hover:bg-gray-900 hover:shadow-2xl
    "
  >
    <h1 class="text-white text-lg lg:text-3xl text-center duration">
      Blog API Frontend Documentation
    </h1>
    <p class="text-white text-md lg:text-xl text-center">...in progress</p>
  </section>
</div>
